.home {
    padding-top: 250px;
}

.animatedText {
    animation-name: moveInLeft;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    padding: 10px 0;
    font-weight: 700;
}
.text-1 {
    letter-spacing: 35px;
    animation-duration: 2s;
}

.text-2 {
    letter-spacing: 10px;
    animation-delay: 1.5s;
    animation-duration: 2s;
}

.text-3 {
    letter-spacing: 5px;
    animation-delay: 3.5s;
    animation-duration: 2s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* JS cubes */
#js-img {
    position: relative;
    left: 240px;
    top: 100px;
    transform: scale(1.2);
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html {
    left: -100px;
    bottom: 120px;
    background-image: url("../../assets/img/html-square.png");
    background-size: cover;
    background-color: rgb(246, 157, 125);
    box-shadow: -90px 80px 20px rgb(50 50 50/ 15%);
    animation: animate 7s ease-in-out infinite;
}

#html:before {
    background-color: rgb(147, 69, 40);
}

#html:after {
    background-color: rgb(246, 157, 125);
}

#css {
    left: 40px;
    bottom: 240px;
    background-image: url("../../assets/img/css-square.png");
    background-size: cover;
    background-color: rgb(71, 71, 231);
    box-shadow: -100px 80px 20px rgb(50 50 50/ 15%);
    animation: animate 5.5s ease-in-out infinite;
}

#css:before {
    background-color: rgb(52, 52, 122);
}

#css:after {
    background-color: rgb(100, 100, 229);
}

#javascript {
    left: 100px;
    bottom: 65px;
    background-image: url("../../assets/img/javascript-square.png");
    background-size: cover;
    background-color: #f6cd45;
    box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
    animation: animate 6s ease-in-out infinite;
}

#javascript:before {
    background-color: #b49633;
}

#javascript:after {
    background-color: #f7e199;
}

@keyframes animate {

    0%,
    100% {
        transform: scale(0.2) rotate(-25deg) skew(25deg);
    }

    50% {
        transform: scale(1.2) rotate(10deg) skew(25deg);
    }
}