:root {
    --mainColor: rgba(67, 0, 58, 0.8);
    --lighterColor: rgba(116, 9, 102, 0.8);
    --imgWidth: 70px;
    --imgHeight: 70px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: rgb(119, 64, 105);
    padding: 40px 0;
}

#img {
    width: var(--imgWidth);
    height: var(--imgHeight);
    border-radius: 50%;
    transition: 0.5s;
    text-align: center;
}

#inner {
    background: var(--mainColor);
    height: var(--imgHeight);
    width: var(--imgWidth);
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    border-width: 2px;
    animation: rotateCircle 2s linear infinite reverse;
}

#outer {
    background-image: linear-gradient(var(--mainColor), var(--lighterColor), white);
    width: var(--imgWidth);
    height: var(--imgHeight);
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    border-width: 2px;
    animation: rotateCircle 2s linear infinite;
    padding: 0px;
    display: table;
}

#logo {
    padding-left: 50px;
}

.navigation {
    float: right;
}




@keyframes rotateCircle {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}